
  <nav>
    <ul>
      <li><strong><a href="{{ url_for('home.home') }}">Acme Corp</a></strong></li>
    </ul>
    <ul>
      <li><a href="{{ url_for('partners.partners') }}">Partners</a></li>
      <li><a href="#">Offers</a></li>
      <li><a href="{{ url_for('home.about') }}">About</a></li>
      <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
      <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
    </ul>
  </nav>